.capa1 {
  background-color: #03609c;
  text-align: center;
  padding:10px;
}

.capa1 span{
text-align: right;
}

.capa2 {
  background-color: white;
  text-align: center;
}


.texto  {
text-align: center;
font-size: 20px;
}
.texto img {
width: 120px;
height: 70px ;
}
