.columnas {
  margin-top: 00px;
}

.M {
  text-align: center;
}
.pasouno {
  text-align: center;
  font-size:30px;
  font-family: fantasy;
}
.pasodos {
  text-align: center;
  font-size:30px;
  font-family: fantasy;
}
.pasotres {
  text-align: center;
  font-size:30px;
  font-family: fantasy;
}
.pasoquatro {
  text-align: center;
  font-size:30px;
  font-family: fantasy;
}
.pasocinco {
  text-align: center;
  font-size:30px;
  font-family: fantasy;
}
.pasoseis {
  text-align: center;
}
.pasouno h2 {
  text-align: center;
  font-size:30px;
  font-family: cursive;
}
.pasodos h2 {
  text-align: center;
  font-size:30px;
  font-family: cursive;
}
.pasotres h2 {
  text-align: center;
  font-size:30px;
  font-family: cursive;
}
.pasoquatro h2 {
  text-align: center;
  font-size:30px;
  font-family: cursive;
}
.pasocinco h2 {
  text-align: center;
  font-size:30px;
  font-family: cursive;
}
.pasocinco img {
  text-align: right;
  height:250px;
  width:250px;
}
