.img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.columnas {
  margin-top: 00px;
}
.img1 {
  text-align: center;
  padding-left:  40px;
}
.img2 {
  text-align: center;
  padding-left:  40px;
}
.img3 {
  text-align: center;
  padding-left:  40px;
}
.img4 {
  text-align: center;
  padding-left:  40px;
}
.img5 {
  text-align: center;
  padding-left:  40px;
}
.img6 {
  text-align: center;
  padding-left:  40px;
}
.img7 {
  text-align: center;
  padding-left:  40px;
}
.img8 {
  text-align: center;
  padding-left:  40px;
}
.img9 {
  text-align: center;
  padding-left:  40px;
}
.img10 {
  text-align: center;
  padding-left:  40px;
}
.img11 {
  text-align: center;
  padding-left:  40px;
}
.img12 {
  text-align: center;
  padding-left:  40px;
}
