

.texto {
}

.texto1 {
padding-left: 30px;
text-align: center;
padding-right: : 30px;

}

.texto2 {
  text-align: center;

padding-left: 30px;
padding-right:  30px;

}

.texto3 {
  padding-left: 30px;
  text-align: center;

padding-right:  30px;
}

.ruedas {
  text-align: center;
}

.servo {
  text-align: center;
}

.ojos {
  text-align: center;
}

.links {
text-align: center;
  padding-left: 30px;
  padding-top: 30px;

}
