
.columnas {
  margin-top: 00px;
}
.texto {
}

.texto1 {
padding-left: 30px;
text-align: center;
padding-right: : 30px;

}

.texto2 {
text-align: center;
padding-left: 30px;
padding-right:  30px;

}

.texto3 {
padding-left: 30px;
text-align: center;
padding-right:  30px;
}

.ruedas {
text-align: center;
}

.servo {
text-align: center;
}

.ojos {
  text-align: center;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fondos {
  position: relative;
}
.fondo1 {
  background-color: white;
  height: 800px;
  padding: 80px;
  padding-top: 00px;
  padding-bottom: 00px;
  width: 300px;


}
.fondo2 {
  background-color: white;
  height: 800px;
  padding: 80px;
  padding-top: 00px;
  padding-bottom: 00px;
  width: 300px;


}
.fondo3 {
  background-color: white;
  height: 800px;
  padding: 80px;
  padding-top: 00px;
  padding-bottom: 00px;
  width: 300px;


}
.fondo4 {
  background-color: white;
  height: 800px;
  padding: 80px;
  padding-top: 00px;
  padding-bottom: 00px;
  width: 300px;

}
.button {
  padding: 20px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-top: 300px;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
